
main > .timer > .seletor-produção{
    width: 500px;
    height: 100px;
    background: rgb(60, 60, 60);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 75px;
    border-radius: 10px;
}

h2{
    font-size: 18px;
}